{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Sudoku</title>
    <link rel="stylesheet" type="text/css" href="{% static "play/styles.css" %}">
  </head>
  <body>
    <h1>Sudoku</h1>

    <div class="timer">1:23</div>

    <form class="checker" method="POST">
      {% csrf_token %}
      <div>
        <label for="sol">User solution:</label>
        <input id="sol" type="text" name="solution">
      </div>
      <input type="submit" value="Check">
    </form>

    {% if advice %}
    <ol>
      {% for a in advice %}
        <li>{{a}}</li>
      {% endfor %}
    </ol>
    {% endif %}

    <script>
      var hints = {{hints|safe}};
      var checks = {{checks|safe}};
    </script>

    <div class="board" tabindex="0">
      {% for square in squares %}
      <div class="{{square.classes}}">
        {{square.content}}
      </div>
      {% endfor %}

      <div id="grid">
        <div>1</div> <div>2</div> <div>3</div>
        <div>4</div> <div>5</div> <div>6</div>
        <div>7</div> <div>8</div> <div>9</div>
      </div>
    </div>

    <script src="{% static "play/jquery-3.3.1.js" %}"></script>
    <script>
      var seconds = 0;
      setInterval(() => {
        var min = Math.round(seconds / 60);
        var sec = seconds % 60;
        if (sec < 10) {
          sec = "0" + sec;
        }
        $(".timer").html(min+":"+sec);
        seconds++;
      }, 1000);

      function row_col(div) {
        let classes = div.className;
        let m = classes.match("\\br(\\d+)\\b.*\\bc(\\d+)\\b")
        return [parseInt(m[1]), parseInt(m[2])]
      }

      function highlight(cls, color) {  //whenever there is a class called, do this function
          $(cls).css('background-color',color);
          setTimeout(function () {
            $(cls).css('background-color','')
          }, 6000);     //change color for 6 seconds to show the hints
      }

      for (let hint of hints) {
        highlight(hint, 'aqua');
      }

      for (let check of checks) {
        highlight(check, 'red');
      }

      function tap() {
        $(tapped_sq).html($(this).text());
      }

      $("#grid div").click(tap)

      var current_sq = undefined;
      var tapped_sq = undefined;
      $(".board .sq").mouseenter((ev) => {
        current_sq = ev.target;
        $(".board .sq").removeClass("active");
        $(current_sq).addClass("active");
      });
      $(".board .sq").mouseleave((ev) => {
        $(".board .sq").removeClass("active");
      });
      $(".board .sq.entry").click((ev) => {
        tapped_sq = ev.target;
        if (ev.target != "_") {
          $(tapped_sq).html("_")
        }
        let pos = $(tapped_sq).position();
        $("#grid").css({"top": (pos.top+30)+"px",
                        "left": (pos.left+30)+"px"});
      });
      $(".board").focus();
      $(".board").keydown((ev) => {
        if (ev.key == " " || (ev.key >= "1" && ev.key <= "9")) {
          if ($(current_sq).hasClass("entry"))
            $(current_sq).html(ev.key == " " ? "_" : ev.key);
        }
        if (ev.keyCode == 8) {
          if ($(current_sq).hasClass("entry"))
            $(current_sq).html("_");
        }

        if (ev.keyCode in {37:1, 38:1, 39:1, 40:1}) {
          if (current_sq) {
            let [row, col] = row_col(current_sq);
            if (ev.keyCode == 38 && row > 0) // up
              row -= 1;
            if (ev.keyCode == 37 && col > 0) // left
              col -= 1;
            if (ev.keyCode == 39 && col < 8) // right
              col += 1;
            if (ev.keyCode == 40 && row < 8) // down
              row += 1;
            $(".board .sq").removeClass("active");
            let cell = $(".r"+row+".c"+col).get(0);
            $(cell).addClass("active");
            current_sq = cell;
            ev.preventDefault();
          }
        }
      });

      function contents() {
        return $(".board .sq").text().replace(/[ \n]/g,"");
      }
      function update_solution() {
        $(".checker input[name='solution']").val(contents());
      }

      $("form").submit(() => {
        update_solution();
        return true;
      })
    </script>
  </body>
</html>
